a,
section.main .content .markdown a code {
  color: #228b22 !important;
}
a:hover,
section.main .content .markdown a code:hover {
  color: #005900 !important;
}
section.footer {
  margin-top: 0em;
  padding-bottom: 60px;
}
section.footer .container a {
  color: #666666 !important;
}
@media (min-width: 600px) {
  section.main.post {
  padding-bottom: 0px;
  }
}
q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before,
blockquote:before {
  content: open-quote;
}
q:after,
blockquote:after {
  content: close-quote;
}
section.main .content .markdown h1 {
  font-size: 26px !important;
}
section.main .content .markdown h2 {
  font-size: 24px !important;
}
section.main .content .markdown h3 {
  font-size: 22px !important;
}
section.main .content .markdown h4 {
  font-size: 20px !important;
}
section.main .content .markdown h5 {
  font-size: 18px !important;
}
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}
