a,
div.main .content .markdown a code {
  color: #228b22 !important;
}
a:hover,
div.main .content .markdown a code:hover {
  color: #005900 !important;
}
div.header nav ul a {
  color: #666666;
}
div.header nav ul a:hover {
  color: #333333;
}
div.main .content .markdown a code:hover {
  text-decoration: underline;
}
div.header nav ul a {
  color: #555555 !important;
}
div.header nav ul a:hover {
  color: #111111 !important;
}
div.main .content .front-matter .tags ul li a {
  color: #666666 !important;
}
div.main .container .content .see-more:hover {
  color: #666 !important;
}
div.main .content .navigation a,
div.main .container .content .see-more {
  color: #313537 !important;
}
div.footer .container a {
  color: #666666 !important;
}
div.footer .container a:hover {
  color: #333333 !important;
}
