@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand|Roboto+Mono');

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
img,
video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body p, body ul, body ol {
    font-size: 1.2rem;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #1f9c1f;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote {
    font-style: italic;
    color: #67767e;
    text-align: center;
}
blockquote p {
    display: inline;
}
q, blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before, blockquote:before {
    content: open-quote;
}
q:after, blockquote:after {
    content: close-quote;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul {
    padding-left: 0em;
}
nav ul {
    list-style: none;
    text-align: center;
    display: inline-flex;
    margin-top: 0em;
    margin-bottom: 1em;
}
nav ul li:first-child {
    margin-left: 0em;
}
nav ul li:last-child {
    margin-right: 0em;
}
nav ul li {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
nav ul a {
    text-transform: uppercase;
}

svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}
th {
    color: #263238;
}
html {
    font-family: 'Nunito', sans-serif;
}
pre,
code {
    font-family: 'Roboto Mono', sans-serif;
}
article {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.banner {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    max-width: 180px;
    padding-right: 1.5em;
}
.groupby {
    margin-top: 1em;
    margin-bottom: .2em;
    list-style: none; 
}
.meta {
    font-size: 75%;
    color: #67767e;
    display: flex;
    padding-bottom: 1.4rem;
    flex-wrap: wrap;
}
.posts {
    list-style: none;
}
.post-item {
    padding-left: 1em;
}
.post-item .meta {
    flex-basis: 7em;
    flex-shrink: 0;
    font-size: .75em;
    padding-bottom: 0;
}
.page-heading h1 {
    margin-bottom: 0.1em;
}
.middot:before {
    font-size: 75%;
    margin: 0 .8em;
    content: "•";
}
.tags ul {
    font-size: 1em;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.content h1 {
    margin-top: 0.0em;
    margin-bottom: 0.67em;
    margin-left: 0px;
    margin-right: 0px;
}
.content ul {
    margin-top: 1em;
    margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #213038;
    padding-top: 0.6em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
html {
    color: #37474f;
    margin: 1em;
}
body {
    font-size: 13pt;
    margin: 0 auto;
    max-width: 23cm;
    padding: 1em;
}
code {
    background-color: #fdf6e3;
    font-size: 90%;
    padding: 2px;
    border-radius: 0.3em;
}
a {
    text-decoration: none;
    color: #228b22;
}
a:hover {
    text-decoration: underline;
    color: #68c468;
}
.title {
    text-align: left;
    font-weight: 700;
    font-size: 2.7em;
}
pre {
    padding: 1em;
    background-color: #fdf6e3;
    border: 1pt solid #93a1a1;
    box-shadow: 2pt 2pt 4pt #93a1a1;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: auto;
}
pre code {
    background-color: #fdf6e3;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.1em;
}
h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}
footer {
    margin-top: 10%;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0;
}
footer li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.social-icons a {
    color: #67767e;
}
.social-icons a:hover {
    color: #81949e;
}
#name {
    color: #213038;
}
#license-note {
    text-align: center;
    font-size: .9em;
    padding-top: 3em;
}

.info,
.warning {
  margin: 10px 0px;
  padding: 1em;
  border: 1pt solid #93a1a1;
  box-shadow: 2pt 2pt 4pt #93a1a1;
}
.info {
  color: #56a8f5;
  background-color: #bde5f8;
  border-left: 5px solid #56a8f5;
}
.info a {
  color: #1069bd;
}
.info a:hover {
  color: #02386b;
}
.warning {
  color: #f44336;
  background-color: #ffc7c7;
  border-left: 5px solid #f44336;
}
.warning a {
  color: #ce2114;
}
.warning a:hover {
  color: #98190f;
}

@media screen and (max-width: 765px) {
    p {
	text-align: justify;
    }
    .banner {
	display: block;
    }
    .logo {
	padding-right: 0;
    }
    nav ul {
	margin-top: 1em;
	display: block;
    }
    nav ul li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
    }
    #name {
	display: none;
    }
    .page-heading h1 {
	margin-top: 0em;
	padding-top: 0em;
    }
}
