<div class="post-list archive readmore">
    <h3>{{ with .Site.Params.readMore }}{{ . }}{{ else }}Read more{{ end }}</h3>
    <ul>
        {{ $current_page_link := .Permalink }}
        {{ $blogs := where .Site.Pages "Type" "blog" }}
        {{ range first 10 (where $blogs ".Permalink" "!=" $current_page_link) }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}<aside class="dates">{{ .Date.Format "Jan 2006" }}</aside></a>
            </li>
        {{ end }}
    </ul>
</div>
